*,*::after,*::before { box-sizing: border-box; margin: 0; user-select: none;}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1366px;
	margin: 0 auto;
}

.header {  
	height: 80px;
	padding: 0 8%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	background: url(../assets/bg_inner.png) center / 70%, lightgoldenrodyellow;
	background-blend-mode: screen;
	border-bottom: 1px solid black;
}

.active {
	color: darkgoldenrod;
	font-size: 36px;
}

.logo {
	width: 125px;
	height: 55px;
	margin-right: 50px;
	background: no-repeat url(../assets/Logo.png) center / contain;
}

.menu {
	display: flex;
	justify-content: space-between;
	column-gap: 50px;
	align-items: center;
	font-size: 20px;
}

.menu a {
	transition: 0.5s;
}

.menu a:hover {
	color: darkgoldenrod;
}

.indicator {
	position: relative;
}

.indicator::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: red;
	top: -5px;
	left: -5px;
}

.active.indicator::before {
	top: 0;
}

.autorization {
	cursor: pointer;
	justify-self: end;
}

.login {
	width: 30px;
	height: 30px;
	background: url(../assets/enter.png) center / contain;
	transition: 0.5s;
}

.login:hover {
	filter: invert(59%) sepia(100%) saturate(200%) brightness(80%) hue-rotate(0deg);
}

.profile {
	width: 36px;
	height: 36px;
	background: url(../assets/user.png) center / contain;
	transition: 0.5s;
}

/* -----------------------------------Hamburger---------------------------------------------------- */
.hamburger {
	position: relative;
	z-index: 1;
	justify-self: end;
}

.hamBtn {
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: none;
}

.open {
	background: url(../assets/menu.png) center / contain;
}

.close {
	background: no-repeat url(../assets/close.png) center / 90% 90%;
	opacity: 0.9;
}

.hamMenu {
	border-bottom: 1px solid black;
	width: 150px;
	padding: 25px 20px 10px;
	border-radius: 10px;
	position: absolute;
	right: 0;
	background: url(../assets/bg_inner.png) center / 300%, lightgoldenrodyellow;
	background-blend-mode: screen;
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 10px;
	font-size: 20px;

}

.hamMenu a:hover {
	color: darkgoldenrod;
}

.hamMenu::before {
	content: "";
	position: absolute;
	left: 0;
	top: 22px;
	width: 1px;
	height: 171px;
	background-color: black;
}

.hamMenu::after {
	content: "";
	position: absolute;
	right: 0;
	top: 22px;
	width: 1px;
	height: 171px;
	background-color: black;
}

/* ------------------------------------------------------------------------------------------ */

.main {
	flex: 1;
}

/* ----------------------------------------FOOTER-------------------------------------- */

.footer {
	/* flex: 100; */
	/* border-top: 1px solid black; */
	background: url(../assets/bg_inner.png) center / 70%, lightgoldenrodyellow;
	background-blend-mode: overlay;
}

.footerInner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 8%;
}

.footerInner {
	font-size: 20px;
}

.openingHours_2 {
	display: none;
}

.socials {
	display: flex;
	justify-content: end;
	column-gap: 25px;
}

.socials button {
	border: none;
	cursor: pointer;
}

.socials button:hover {
	transform: scale(1.5);
	transition: 0.2s;
}

.socials button:active {
	transform: scale(1);
	transition: 0.2s;
}

	.facebook {
		width: 24px;
		height: 24px;
		background: url(../assets/facebook.png) center / contain;
	}

	.instagram {
		width: 24px;
		height: 24px;
		background: url(../assets/instagram.png) center / contain;
	}

	.twitter {
		width: 24px;
		height: 24px;
		background: url(../assets/twitter.png) center / contain;
	}

.footer hr {
	border: none;
	height: 1px;
	background-color: darkgoldenrod;
	margin: 0 30px;
}

.bottom {
	font-size: 13px;
	text-align: center;
	padding: 10px;
}

/* ============================Media Queries================================= */


@media (max-width: 760px) {
	.openingHours_1 {
		display: none;
	}

	.openingHours_2 {
		display: block;
	}
}

@media (max-width: 640px) {
	.header {
		display: flex;
		justify-content: space-between;
	}

	.logo {
		width: 100px;
	}

	.active {
		color: darkgoldenrod;
		font-size: 24px;
	}

	.logo {
		margin-right: 0;
	}

	.autorization {
		display: none;
	}

	.hamAutorization {
		cursor: pointer;
		border-top: 1px solid #000;
		padding-top: 10px;
		height: 45px;
		width: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.socials {
		column-gap: 20px;
	}

	.facebook,
	.instagram,
	.twitter {
		width: 20px;
		height: 20px;
	}

	.indicator::before {
	width: 7px;
	height: 7px;
	top: 0px;
	left: -7px;
	}

	.active.indicator::before {
		top: 1px;
	}

}

@media (max-width: 444px) {
	.openingHours_2 {
		display: none;
	}
}

