.profile {
	position: relative;
	margin-bottom: 50px;
}

.description {
	max-width: 1100px;
	margin: auto;
	display: flex;
	justify-content: center;
	column-gap: 10%;
	padding: 30px 30px;
}

.loading,
.error {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;
}

.loading span {
	width: 80px;
	height: 80px;
	background: no-repeat url(../assets/loading.png) center / contain;
	animation: rotate 2s linear infinite;
}

.loading p {
	font-size: 20px;
}

@keyframes rotate {
	from {transform: rotate(0);}
	to {transform: rotate(360deg);}
}

.error span {
	width: 100px;
	height: 100px;
	background: no-repeat url(../assets/error.png) center / contain;
}

.error p {
	font-size: 20px;
}

.image {
	box-shadow: 0 0 5px black;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	align-items: center;
	background: radial-gradient(white 60%, #FAFAD2);
}

.image img {
	width: 200px;
}

.title {
	font-weight: normal;
}

.price {
	font-weight: 700;
	font-size: 20px;
	margin: 10px 0;
	display: inline-block;
	background-color: lightgoldenrodyellow;
	padding: 5px 15px;
	border-radius: 5px;
}

.text {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
}

.inputWrapper {
	margin: 30px 0;
	display: inline-block;
	position: relative;
}

.message {
	color: red;
	margin-left: 10px;
	position: absolute;
	width: 100%;
	top: 25px;
	right: 0;
}

.quantity {
	margin-right: 10px;
}

.input {
	border-radius: 5px;
	outline: none;
	background-color: lightgoldenrodyellow;
	border: none;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}

.minusBtn {
	width: 20px;
	height: 20px;
	background: no-repeat url(../assets/minus.png) center / contain;
	border: none;
	vertical-align: -3px;
	cursor: pointer;
}

.plusBtn {
	width: 20px;
	height: 20px;
	background: no-repeat url(../assets/plus.png) center / contain;
	border: none;
	vertical-align: -3px;
	cursor: pointer;
}

.minusBtn:active,
.plusBtn:active {
	transform: scale(0.9);
}

.added {
	color: green;
	margin: 30px 0;
}

.addButton {
	display: block;
	background-color: lightgoldenrodyellow;
	border: 2px outset black;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 16px;
	cursor: pointer;
}

.addButton:hover {
	background-color: rgb(234, 234, 187);
}

.addButton:active {
	border: 2px inset black;
}

.empty {
	font-size: 30px;
	margin: 50px;
	text-align: center;
}

.empty span {
	display: inline-block;
	width: 64px;
	height: 64px;
	background: no-repeat url(../assets/cart.png) center / contain;
}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}

/* ----------------------------Carousel------------------------------------- */
.hr {
	margin-bottom: 30px;
	box-shadow: 0 1px 2px black;
	border: none;
	height: 1px;
	background-color: black;
}

.carousel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel button:first-of-type {
	width: 40px;
	height: 150px;
	border: none;
	cursor: pointer;
	transition: 0.1s;
	background: no-repeat url(../assets/left_arrow.png) center / contain;
}

.carousel button:first-of-type:active {
	transform: scale(0.9);
}

.carousel button:last-of-type {
	width: 40px;
	height: 150px;
	border: none;
	cursor: pointer;
	transition: 0.1s;
	background: no-repeat url(../assets/right_arrow.png) center / contain;
}

.carousel button:last-of-type:active {
	transform: scale(0.9);
}

.viewport {
	height: 300px;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding-left: 25px;
	position: relative;
}

.viewport::before {
	content: "";
	width: 20px;
	height: inherit;
	background: linear-gradient(to right, white 20%, transparent);
	position: absolute;
	left: 0;
	z-index: 10;
}

.viewport::after {
	content: "";
	width: 20px;
	height: inherit;
	background: linear-gradient(to left, white 20%, transparent);
	position: absolute;
	right: 0;
	z-index: 10;
}

.product {
	/* flex-shrink: 0; */
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
	text-align: center;
	box-shadow: 0 0 5px black;
	border-radius: 10px;
	padding: 20px;
	background: radial-gradient(white 50%, #FAFAD2);
	position: relative;
}

.img {
	width: 150px;
	height: 150px;
	object-fit: contain;
}

.product .price {
	background: none;
}

.carousel .title {
	height: 25px;
	overflow: hidden;
}

.rating {
	position: absolute;
	top: 15px;
	right: 25px;
}

.rating::before {
	content: url(../assets/star.png);
	position: relative;
	top: 4px;
	left: -4px;
}

/* =============================Media Queries================================= */
@media (max-width: 1100px) {
	.title {
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 2;        
  		-webkit-box-orient: vertical;
	}

	.text {
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 5;        
  		-webkit-box-orient: vertical;
		line-height: 2;
	}
}

@media (max-width: 640px) {
	.description {
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
	}

	.image {
		width: 200px;
	}

	.image img {
		width: 100%;
		object-fit: contain;
	}

	.productInfo {
		text-align: center;
	}

	.title {
		display: block;
		overflow: visible;
	}

	.text {
		display: block;
		overflow: visible;
		line-height: 1.4;
	}

	.addButton {
		margin: 0 auto;
	}
}

@media (max-width: 480px) {
	.viewport {
		height: 330px;
	}

	.product {
		padding-top: 50px;
	}
}